{% extends '../layouts/fixed.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-warning panel-bordered">
            <div class="panel-heading">
                <h6 class="panel-title">{{ _('Service Not Implemented') }}<a class="heading-elements-toggle"><i
                        class="icon-more"></i></a></h6>
                <div class="heading-elements">
                    <ul class="icons-list"></ul>
                </div>
            </div>

            <div class="panel-body">
                <div>{{ _("For some reason you've tried to get service that not implemented yet.") }}</div>
            </div>
        </div>
    </div>
</div>
{% end %}