<div class="sidebar sidebar-main sidebar-fixed">
    <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <li class="navigation-header navigation-header-services">
                        <span>{{ _('Services') }}</span> <i class="icon-menu" title="" data-original-title=""></i>
                    </li>
                    {% for entry in entries %}
                    <li class="{% if metadata['name'] == entry.name %}active {% end %}navigation-service"
                        data-name="{{ entry.name }}">
                        <a href="{{ entry.get_absolute_url() }}"><i class="{{ entry.icon_class }}"></i>
                            <span>{{ entry.title }}</span></a>
                    </li>
                    {% end %}
                    <li class="navigation-header navigation-header-utils">
                        <span>{{ _('Utils') }}</span> <i class="icon-menu" title="" data-original-title=""></i>
                    </li>
                    <li class="{% if page == 'debug' %}active{% end %}">
                        <a href="{{ reverse_url('debug') }}" target="_blank"><i class="icon-bug2"></i>
                            <span>{{ _('Console') }}</span></a>
                    </li>
                    {% if metadata['debug'] and metadata['public_api_url'] %}
                    <li>
                        <a href="{{ metadata['public_api_url'] }}" target="_blank"><i class="icon-puzzle3"></i>
                            <span>{{ _('API') }}</span></a>
                    </li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>