<div class="col-lg-2 col-md-3 col-sm-6 services-cards__entry" data-name="{{ entry.name }}" data-uptime="{{ entry.uptime }}">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="panel-title">
                {% if entry.debug %}
                <span class="label bg-success"
                      style="font-weight: 400;font-size: 9px;line-height: normal;">{{ _('debug') }}</span>
                {% end %}
                <span class="label" id="services-cards__entry__{{ entry.name }}_uptime"
                      style="font-weight: 400;font-size: 10px;line-height: normal;color: gray;"></span>
            </div>
            <div class="heading-elements">
                <ul class="icons-list text-muted">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="update_service"><a href="javascript:void(0);"><i
                                    class="icon-spinner11"></i> {{ _('Update') }}</a></li>
                            <li><a href="{{ reverse_url('services:' + entry.name + ':log') }}"><i
                                    class="icon-clipboard6"></i> {{ _('Log') }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body text-center">
            <a href="{{ entry.get_absolute_url() }}"
               class="icon-object border-{{ entry.color }} text-{{ entry.color }} btn btn-flat">
                <i class="{{ entry.icon_class }}"></i>
            </a>
            <h5 class="text-semibold">{{ entry.title }}</h5>
            <p class="mb-15">
                <span class="label bg-success">{{ _('updated') }}</span>
                <span class="label label-default" style="margin-top: 3px;">{{ entry.version }}</span>
                <!--
                <span class="label bg-grey-300">{{ entry.version }}</span>
                <span class="label bg-orange">{{ entry.version }}</span>
                <span class="label bg-orange">{{ _('update') }}</span>
                -->
            </p>
            <p class="mb-15">{{ entry.description }}</p>
        </div>
    </div>
</div>