<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Multiple files</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <p class="content-group">
            Example of a <code>multiple</code> file uploader based on <code>Dropzone.js</code> library.
            Dropzone.js is a light weight JavaScript library that turns an HTML element into a dropzone.
            This means that a user can drag and drop a file onto it, and the file gets uploaded to the server via AJAX.
            By default Dropzone is a multiple file uploader, so this example is a basic setup.
            Uploading process runs automatically and image thumbnail previews are shown right after file selection.
        </p>
        <p class="text-semibold">Multiple file upload example:</p>
        <form class="dropzone" id="{{ dropzone_id }}"></form>
    </div>
</div>
<script>
    var xsrftoken = Cookies.get('_xsrf');
    var headers = {'X-CSRFToken': xsrftoken};
    var dropzone_id = "{{ dropzone_id }}";

    // Defaults
    Dropzone.autoDiscover = false;

    // noinspection JSUnresolvedFunction
    $("#" + dropzone_id).dropzone({
        paramName: "{{ param_name }}",
        dictDefaultMessage: "{% raw default_message %}",
        maxFilesize: "{{ max_file_size }}",
        headers: headers,
        url: "{{ url }}",
        acceptedFiles: "{{ accepted_files }}",
        maxFiles: "{{ max_files }}",
        addRemoveLinks: true
    });
</script>