@media (min-width: 769px) {
    .panel-flat > .panel-heading {
        padding: 0 0 0 3px;
        background-color: unset;
    }

    .panel-flat > .panel-heading > .panel-title {
        margin-top: 0;
    }

    .panel-flat > .panel-heading > .heading-elements {
        margin-top: -14px;
        margin-right: -14px;
    }
}

@media (max-width: 768px) {
    .panel-flat > .panel-heading {
        padding-top: 7px;
    }
}