{% extends '../base.html' %}

{% block css %}
<link href="{{ static_url('css/pages/services/common.css') }}" rel="stylesheet" type="text/css">
<link href="{{ static_url('css/pages/services/profile.css') }}" rel="stylesheet" type="text/css">
<style>
    .checkbox-switchery,
    .checkbox-switchery[class*="switchery-"] {
        margin-bottom: 20px;
    }
</style>
{% end %}

{% block js %}
<script type="text/javascript" src="{{ static_url('js/plugins/tables/datatables/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/tables/datatables/extensions/responsive.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/tables/datatables/extensions/buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/forms/styling/switchery.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/forms/selects/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/pages/services/profile.js') }}"></script>
{% end %}


{% block header %}
<div class="page-header">
    <div class="page-header-content"></div>
    <div class="breadcrumb-line breadcrumb-line-component">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="{{ reverse_url('index') }}"><i class="icon-home2 position-left"></i> {{ _('Home') }}</a></li>
            <li class="active">{{ metadata['title'] }}</li>
        </ul>
        <ul class="breadcrumb-elements">
            {#            <li><a href="#"><i class="icon-plus22 position-left"></i> {{ _('Create profile') }}</a></li>#}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gear position-left"></i> {{ _('Options') }}
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="{{ reverse_url('services:profile:log') }}">
                            <i class="icon-clipboard6"></i> {{ _('Log') }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-flat">
            <table class="table table-striped text-nowrap table-profiles">
                <thead>
                <tr>
                    <th>{{ _('Profile') }}</th>
                    <th>Registered</th>
                    <th>Email</th>
                    <th>{{ _('Active') }}</th>
                    <th>{{ _('Actions') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">James Alexander <i class="icon-crown superuser"></i></a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.12.30
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>July 12, 2016</td>
                    <td><a href="#">james@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Jeremy Victorino</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.03.05
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>September 4, 2016</td>
                    <td><a href="#">jeremy@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Margo Baker</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.03.27
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>July 10, 2016</td>
                    <td><a href="#">margo@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Monica Smith</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.10.03
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>June 27, 2016</td>
                    <td><a href="#">monica@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Jemmy Royle</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.11.25
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>January 2, 2016</td>
                    <td><a href="#">jemmy@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Ashlynn Ben</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.04.14
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>February 25, 2016</td>
                    <td><a href="#">ashlynn@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Ray Sammy</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.02.20
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>March 20, 2016</td>
                    <td><a href="#">ray@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Brian Leslie</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.12.24
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>July 12, 2016</td>
                    <td><a href="#">brian@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Patrick Marilynn</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.09.28
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>October 4, 2016</td>
                    <td><a href="#">patrick@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Roland Cydney</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.02.12
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>August 1, 2016</td>
                    <td><a href="#">roland@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Deanna Joss</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.05.20
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>May 17, 2016</td>
                    <td><a href="#">deanna@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Dawn Justin</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.06.17
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>May 12, 2016</td>
                    <td><a href="#">dawn@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Blondie Madison</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.01.26
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>March 26, 2016</td>
                    <td><a href="#">blondie@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Derryl Carrie</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.09.15
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>July 26, 2016</td>
                    <td><a href="#">derryl@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Vincent Doris</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.02.23
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>June 25, 2016</td>
                    <td><a href="#">vincent@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Diantha Royston</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.02.04
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>September 25, 2016</td>
                    <td><a href="#">diantha@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Lilian Knox</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.05.18
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>March 5, 2016</td>
                    <td><a href="#">lilian@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Toria Eveline</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.03.28
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>August 26, 2016</td>
                    <td><a href="#">toria@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Tiffany Willemina</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.07.29
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>November 19, 2016</td>
                    <td><a href="#">tiffany@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Trenton Alison</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.09.16
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>July 25, 2016</td>
                    <td><a href="#">trenton@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Brandon Gilbert</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.11.25
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>December 26, 2016</td>
                    <td><a href="#">brandon@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Troy Webster</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.10.24
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>May 29, 2016</td>
                    <td><a href="#">troy@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Elbert Cailyn</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.08.20
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>February 28, 2016</td>
                    <td><a href="#">elbert@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Coen Grant</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.12.24
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>June 17, 2016</td>
                    <td><a href="#">coen@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>

                <tr>
                    <td>
                        <div class="media">
                            <a href="user_pages_profile_tabbed.html" class="media-left">
                                <img src="{{ static_url('images/placeholder.jpg') }}" width="40" height="40" class="img-circle img-md" alt="">
                            </a>

                            <div class="media-body media-middle">
                                <a href="user_pages_profile_tabbed.html" class="text-semibold">Charles Elian</a>
                                <div class="text-muted text-size-small">
                                    Last login: 2016.01.28
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>September 21, 2016</td>
                    <td><a href="#">charles@interface.club</a></td>
                    <td data-sort="1">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            <input type="checkbox" class="switch" checked="checked">
                        </label>
                    </td>
                    <td class="text-right">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="remove-profile-action"><a href="#"><i class="icon-bin"></i> {{ _('Remove') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}