<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ _('Anthill Platform Admin Tool') }}</title>

    <link rel="shortcut icon" id="favicon" href="{{ static_url('favicon.ico') }}">

    {% block meta %}{% end %}

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{{ static_url('css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/icons/kolobok/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/colors.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/extras/animate.min.css') }}" rel="stylesheet" type="text/css">
    <style>
        .superuser {
            padding-left: 3px;
            padding-bottom: 3px;
            color: #e4c309
        }
        @media (min-width: 769px) {
            .sidebar-xs .header-highlight .navbar-header .navbar-brand {
                background-size: auto 24px;
            }
        }
    </style>
    <!-- /global stylesheets -->

    {% block css %}{% end %}

    <!-- Core JS files -->
    <script>
        paceOptions = {
            // Disable the 'elements' source
            elements: false,

            // Only show the progress on regular and ajax-y page navigation,
            // not every request
            restartOnRequestAfter: false
        }
    </script>
    <script type="text/javascript" src="{{ static_url('js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/core/libraries/bootstrap.min.js') }}"></script>
    <!-- /core JS files -->

    <script>
        var public_api_url = "{{ admin_metadata['public_api_url'] }}";
        var log_url = "{{ metadata['log_url'] }}";
        window.public_api_url = new URL(public_api_url).pathname;
        window.debug = {{ json_encode(debug) }};
        window.service_name = "{{ metadata['name'] }}";
        window.service_uptime = {{ metadata['uptime'] }};
        window.log_url = log_url;
    </script>

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ static_url('js/core/app.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/plugins/ui/nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/plugins/uploaders/dropzone.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/plugins/extensions/cookie.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" src="{{ static_url('js/plugins/extensions/easytimer.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/plugins/extensions/kurento-jsonrpc.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('js/plugins/extensions/reconnecting-websocket.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/plugins/notifications/sweet_alert.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/plugins/sounds/ion.sound/ion.sound.js') }}"></script>

    <script type="text/javascript" src="{{ static_url('js/utils/datastorage.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/utils/websocket.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/pages/layout_fixed_custom.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/pages/general.js') }}"></script>
    <!-- /theme JS files -->

    {% block js %}{% end %}
    {% block js_header %}{% end %}
</head>

<body class="{% block body-class %}navbar-top {% if not main_sidebar_expanded %}sidebar-xs{% end %}{% end %} {% if has_detached_right %}has-detached-right{% end %}">

<!-- Main navbar -->
{% block main-navbar %}
{% module Template('modules/main-navbar.html', metadata=metadata, page=page) %}
{% end %}
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        {% block main-sidebar %}
        {% module MainSidebar(main_sidebar_entries, metadata, page) %}
        {% end %}
        <!-- /main sidebar -->

        <!-- Secondary sidebar -->
        {% block secondary-sidebar %}{% end %}
        <!-- /secondary sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            {% block header %}{% end %}
            <!-- /page header -->

            <div class="content">
                <!-- Content area -->
                {% block content %}{% end %}

                <!-- Footer -->
                {% block footer %}
                {% module Template('modules/footer.html', centered=False, metadata=metadata, now=now) %}
                {% end %}
                <!-- /footer -->
                <!-- /content area -->
            </div>

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

{% block js_footer %}{% end %}

</body>
</html>
