@media (min-width: 769px) {
    .nav-tabs.nav-tabs-bottom > li.active > a:after {
        background-color: rgb(43, 175, 164);
    }
}

.page-header .breadcrumb-line-component {
    margin-top: 20px;
}

.nav-tabs {
    margin-bottom: 0;
}

.nav-tabs {
    border-bottom: unset;
}