.content {
    padding: 0;
}

.content:first-child {
    padding-top: 0;
}

.media-list-linked .media-link {
    padding: 12px 20px;
}

.media-list-linked .media-link .media-left {
    padding-right: 12px;
}

@media (min-width: 769px) {
    .sidebar-secondary {
        display: table-cell;
        vertical-align: top;
        width: 300px;
    }
}

.sidebar-content {
    position: relative;
    padding-bottom: 0;
}

.chat-list, .chat-stacked {
    max-height: 0;
    overflow: hidden;
}

@media (min-width: 769px) {
    .sidebar-fixed.sidebar-default .sidebar-content {
        width: 300px;
    }
}

.sidebar.sidebar-secondary > .sidebar-content .sidebar-category > .category-content > ul > li.active {
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
}

.media > .media-link > .media-left > .status-mark {
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
    position: absolute;
    top: 0;
    left: 0;
}

.media > .media-left > .status-mark {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
    position: absolute;
    top: 0;
    left: 0;
}

.chat-list > li {
    cursor: pointer;
}

.status-mark-mobile {
    display: inline-block;
    position: absolute;
    background: white;
    color: #81C784;
    padding: 2px 0;
    top: -3px;
    left: -1px;
    border: 0 solid white;
    border-radius: 2px;
    font-size: 12px;
}

.media-list-linked .media {
    padding-right: 1px;
}